@use './variables' as v;

body {
  background-color: v.$colorBackground;
  font-family: v.$fontDefault;
  font-weight: v.$fontWeightDefault;
  line-height: 1.5;
  min-height: 100vh;
  margin: 0px;
}
.pointer {
  cursor: pointer;
}

.text-danger {
  color: v.$colorDanger !important;
}
.text-success {
  color: v.$colorSuccess !important;
}
.text-warning {
  color: v.$colorWarning !important;
}
.text-primary {
  color: v.$colorPrimary !important;
}
.text-muted {
  color: v.$colorGray !important;
}
.text-tip {
  color: #606266 !important;
}
.bg-danger {
  background-color: v.$colorDanger !important;
  color: #fff;
}
.bg-success {
  background-color: v.$colorSuccess !important;
  color: #fff;
}
.bg-warning {
  background-color: v.$colorWarning !important;
}
.bg-primary {
  background-color: v.$colorPrimary !important;
  color: #fff;
}
.bg-info {
  background-color: v.$colorInfo !important;
  color: #fff;
}
.bg-muted {
  background-color: v.$colorGray !important;
}
.darker {
  filter: brightness(0.9);
}
img, svg, video, canvas, audio, iframe, embed, object {
  display: inline-block;
}
a {
  text-decoration: none;
}

.main-template-emerald {
  --color-main-900: theme('colors.emerald.900');
  --color-main-800: theme('colors.emerald.800');
  --color-main-700: theme('colors.emerald.700');
  --color-main-600: theme('colors.emerald.600');
  --color-main-500: theme('colors.emerald.500');
  --color-main-400: theme('colors.emerald.400');
  --color-main-300: theme('colors.emerald.300');
  --color-main-200: theme('colors.emerald.200');
  --color-main-100: theme('colors.emerald.100');
  --color-main-50: theme('colors.emerald.50');
}

.main-template-sky {
  --color-main-900: theme('colors.sky.900');
  --color-main-800: theme('colors.sky.800');
  --color-main-700: theme('colors.sky.700');
  --color-main-600: theme('colors.sky.600');
  --color-main-500: theme('colors.sky.500');
  --color-main-400: theme('colors.sky.400');
  --color-main-300: theme('colors.sky.300');
  --color-main-200: theme('colors.sky.200');
  --color-main-100: theme('colors.sky.100');
  --color-main-50: theme('colors.sky.50');
}