/*
 * Base colors
 * */
$colorPrimary: #409EFF;
$colorSuccess: #67C23A;
$colorDanger: #F56C6C;
$colorWarning: #E6A23C;
$colorGray: #CCCCCC;
$colorInfo: #A0ACAD;

// Bacground color
$colorBackground: #EFEFEF;

// Form color
$inputBgColor: #EFEFEF;
$inputBgColorDisabled: #CCCCCC;

// Text color
$colorText: #2C2B32;
$colorTextDark: #000000;
$colorTextGray: #80878E;

// Shadow color
$shadowColor: #bbbbbb;

// Fonts
$fontDefault: 'Source Sans Pro', sans-serif;
$fontWeightDefault: 400;
$fontWeightBold: 700;

$borderRadius: 3px;